.offers-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* 1/3 + 2/3 */
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
}

/* LEWA KOLUMNA */
.filters {
    background: #9b7d7d;
    /* jak na screenie */
    padding: 20px;
    border-radius: 6px;
}

/* PRAWA KOLUMNA */
.results {
    background: #e5e5e5;
    padding: 20px;
    border-radius: 6px;
}