.button-carousel-main{
    background-color: #2B2D42;
    color: white;
}

.btn.button-carousel-main:hover{
    background-color: #939393;
    border-color: #2B2D42;    
    color: #FFFFFF !important;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    width: 50px;
    height: 50px;
    background-color: #F4B860;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.search-box {
    display: flex;
    border: 1px solid #F4B860;
    border-radius: 12px;
    overflow: hidden;
    background: white;
}

.search-part {
    border: none;
    padding: 18px 20px;
    font-size: 15px;
    flex: 1;
    outline: none;
}

.search-part:not(:last-child) {
    border-right: 1px solid #cfd4ff;
}

.search-part::placeholder{
    color: #F4B860;
}

.search-select {
    background-color: #fafbff;
    cursor: pointer;
}

.search-part:focus {
    background-color: #f5f7ff;
}