.page-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* 1/3 + 2/3 */
    min-height: 100vh;
}

.filters {
    background: #9b7d7d;
    /* jak na screenie */
    padding: 20px;
}

.content {
    background: #e5e5e5;
    padding: 20px;
}