
.button-carousel-main{
    background-color: #2B2D42;
    color: white;
}

.btn.button-carousel-main:hover{
    background-color: #939393;
    border-color: #2B2D42;    
    color: #FFFFFF !important;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    /* wyłącz oryginalną ikonę */
    width: 50px;
    height: 50px;
    background-color: #F4B860;
    /* kolor strzałki */
    mask-size: contain;
    -webkit-mask-size: contain;
}

/* STRZAŁKA W LEWO */
.carousel-control-prev-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M11.5 1L3 8l8.5 7V1z'/%3E%3C/svg%3E") center/contain no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M11.5 1L3 8l8.5 7V1z'/%3E%3C/svg%3E") center/contain no-repeat;
}

/* STRZAŁKA W PRAWO */
.carousel-control-next-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4.5 1L13 8l-8.5 7V1z'/%3E%3C/svg%3E") center/contain no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4.5 1L13 8l-8.5 7V1z'/%3E%3C/svg%3E") center/contain no-repeat;
}

#carouselExample {
    position: relative;
}

#button-prev {
    right: -80px;
}

#button-next {
    right: 80px;
}